@*CategoryListModel Tanımlanmazsa @model List<Category>*@
@model CategoryListModel
@{
    ViewData["Title"] = "CategoryList";
}

<h1>Admin Categories</h1>
<hr />

@if (Model.Categories.Count > 0)
{
    <table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:30px;">Id</th>
            <th style="width:100px;">Name</th>            
            <th style="width:150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>@item.Id</td>               
                <td>@item.Name</td>              
                <td>
                    <a class="btn btn-primary btn-sm mr-2" href="/admin/categories/@item.Id">Edit</a>
                    <form action="/admin/deletecategory" method="post" style="display:inline">
                        <input type="hidden" name="categoryId" value="@item.Id">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>  
                    </form>
                    
                </td>
            </tr>
        }

    </tbody>
    </table>

}

else
{
    <div class"alert alert-warning">
        <h4>No Categories</h4>
    </div>
}
